{% extends 'layouts/application.html' %}

{% block title %}
Demos – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Demos</h1>
  <p>The plan is to write and talk about topics and tech that I am learning. Any stand alone demos will be created here.</p>
  <ul>
    <li><a href="css-grid">CSS Grid</a></li>
    <li><a href="variable-fonts">Variable fonts</a></li>
  </ul>

  <h2>Future learning?</h2>
  <p>There is always something new to learn, I would like to know more about these things:</p>
  <ul>
  	<li>SVG</li>
  	<li>SVG filters</li>
  </ul>

  {#
To look into further
https://tympanus.net/codrops/2019/01/15/svg-filters-101/

  	#}
{% endblock %}
