{% extends 'layouts/demo.html' %}

{% block title %}
POC Variable fonts – Gaz Joyce
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/stylesheets/demo.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet"> -->
    <link rel="stylesheet" href="/stylesheets/inter-ui.css">
{% endblock %}


{% block content %}
<div class="var">
  <p class="hero">Variable fonts</p>
  <p class="blurb">Variable fonts</p>

  <p>Inter UI https://github.com/rsms/inter</p>
</div>
{% endblock %}