{% extends 'layouts/demo.html' %}

{% block title %}
#2 – Smarter grid - CSS Grid - Demos – Gaz Joyce
{% endblock %}

{% block content %}

<a href="./" class="gj-back-link">&larr; Back</a>
<h1>#2 – Smarter grid</h1>

<div class="grid">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7. This item has a bit more content to show you how the minmax() function works. As more content is added, the item will keep growing as will all of its siblings.</div>
  <div class="item">8</div>
</div>

<style style="
  display: inline-block;
  background: #222;
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  border-radius: 5px;
  margin: 5em 0;
  ">.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(100px, 1fr));
}
.item {
  padding: 1rem;
}
</style>

{% endblock %}
