{% extends 'layouts/demo.html' %}

{% block title %}
Demo 2 - CSS Grid - Demos – Gaz Joyce
{% endblock %}

{% block content %}

<div class="grid">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
</div>

<hr>
<a href="./" class="gj-back-link">&larr; Back</a>
<h1>Smarter grid</h1>

<style style="
  display: inline-block;
  background: #222;
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  border-radius: 5px;
  margin: 1em 0;
  ">.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(100px, 1fr));
}
</style>

{% endblock %}
