{% extends 'layouts/demo.html' %}

{% block title %}
#10 – Using @supports - CSS Grid - Demos – Gaz Joyce
{% endblock %}

{% block content %}

<a href="./" class="gj-back-link">&larr; Back</a>
<h1>#10 – Using @supports</h1>

<div class="grid">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
</div>

<style style="
  display: inline-block;
  background: #222;
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  border-radius: 5px;
  margin: 5em 0;
  overflow-x: auto;
  ">@supports(display: grid) {
  .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
  }
}
</style>

{% endblock %}
