{% extends 'layouts/application.html' %}

{% block title %}
What I am doing now – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>What I’m doing now</h1>
  <p>I am currently:</p>
  <ul>
    <li><a href="/reading">Reading a few books</a></li>
  	<li>Focussing on my health</li>
  	<li>I am trying to run 5k at least once a week but aiming for two</li>
    <li>Redesigning this website</li>
    <li>Working on some <a href="/demos/css-grid">CSS Grid demos</a></li>
    <li>Moving house</li>
    <li>Considering a half marathon...</li>
  </ul>
  <hr>
  <p class="small">Inspired by&nbsp;<a href="https://sivers.org/nowff">Derek Sivers</a>. If you have your own site, <a href="http://nownownow.com/about">you should make one</a> too.</p>

  <p><strong>Last updated</strong>: June 2019</p>
{% endblock %}
