{% extends 'layouts/application.html' %}

{% block title %}
What I am doing now – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>What I’m doing now</h1>
  <p>I am currently:</p>
  <ul>
    <li>Focussing on my health and fitness</li>
    <li>Putting myself first more</li>
    <li>Saying no more</li>
    <li><a href="/running">Running</a> 5k at least once a week but aiming for two</li>
    <li><a href="/reading">Reading a few books</a></li>
    <li>Helping to organise our user centered design community of practice at Valtech</li>
    <li>Redesigning this website</li>
    <li>Decorating my house</li>
    <li>Researching the history of my house and local area</li>
    <li>Working on some <a href="/demos/css-grid">CSS Grid demos</a></li>
    <li>Working on some really tough NHS Pension problems at Valtech</li>
    <li>Considering a half marathon...</li>
  </ul>
  <hr>
  <p class="small">Inspired by&nbsp;<a href="https://sivers.org/nowff">Derek Sivers</a>. If you have your own site, <a href="http://nownownow.com/about">you should make one</a> too.</p>

  <p><strong>Last updated</strong>: January 2020</p>
{% endblock %}
