{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">What I’m doing now</h1>
  <p>I am currently:</p>
  <ul>
  	<li>Focussing on my health</li>
  	<li>I am trying to run 5k at least once a week but aiming for two</li>
  	<li>Looking for a new home to move to</li>
  </ul>
  <p>I am currently reading:</p>
  <ul>
  	<li><a href="https://www.goodreads.com/book/show/95887.Eat_That_Frog_">Eat That Frog</a> by Brian Tracy</li>
  	<li><a href="https://www.smashingmagazine.com/printed-books/design-systems/">Design Systems</a> by Alla Kholmatova</li>
  </ul>
  
  <p class="small">Inspired by&nbsp;<a href="https://sivers.org/nowff">Derek Sivers</a>. If you have your own site, <a href="http://nownownow.com/about">you should make one</a> too.</p>

  <p><strong>Last updated</strong>: October 2018</p>
  
  <!--
  <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/34654839/latest-rides/9dfd437ca07f55ea1ba0f71b7a599cd661853cb0'></iframe>
-->
{% endblock %}
