{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">Hiya, my name is Gaz and I am an interaction designer based in <span>Stafford,&nbsp;UK.</span></h1>
  <p class="lead">I'm a senior interaction design consultant at <a href="https://www.valtech.co.uk/">Valtech UK</a>. I have a degree in Multimedia Design from back when <dfn title="Lingo (programming language)">lingo</dfn> was cool. I have over a decade of experience of designing a multitude of websites and services for leading&nbsp;businesses.</p>
  <p><a href="diary">Read about things I have been thinking about →</a></p>
{% endblock %}
