/**
 * Color
 */


$colors: (

    primary: (
        light-pink      : #f5e2eb,
        pink            : #d53880,
        dark-pink       : #b33377,
        darker-pink     : #981c57,
        darkest-pink    : #6b103c,
        focus           : #ffbf47
    ),

    neutral: (
        black         : #000,
        white         : #fff,
        darkest         : #2e343b,
        darker          : #444,
        dark            : #666,
        light           : #999,
        lighter         : #ccc,
        lightest        : #f7f7f7
    ),

    contextual: (
        success         : #4caf50,
        success-light   : #c8e6c9,
        warning         : #ffeb3b,
        warning-light   : #fff59d,
        error           : #f44336,
        error-light     : #ffcdd2,
        info            : #4b68b3,
        info-light      : #e5eef9
    ),

    social: (
        twitter         : #55acee,
        facebook        : #32639f,
        google          : #d34836,
        pinterest       : #cb2028,
        instagram       : #517fa4,
        vimeo           : #1ab7ea,
        linkedin        : #4875b4,
        youtube         : #bb0000,
        tumblr          : #36465D
    ),
);


/**
 * Breakpoint
 */

$screens: (
    xs: (
        base            : 28em,
        max             : 35em - 0.01em
    ),
    sm: (
        base            : 35em,
        max             : 48em - 0.01em
    ),
    md: (
        base            : 48em,
        max             : 62em - 0.01em
    ),
    lg: (
        base            : 62em,
        max             : 82em - 0.01em
    ),
    xl: (
        base            : 82em
    )
);


/**
 * Font
 */

$font-family            : 'IBM Plex Mono', monospace,-apple-system,BlinkMacSystemFont,sans-serif;

$font-size              : 140%;
$font-size-xxs          : 0.5em;
$font-size-xs           : 0.65em;
$font-size-sm           : 0.85em;
$font-size-lg           : 1.2em;


$bold                   : 900;

$line-height            : 1.618;
$line-height-sm         : 1.2;


/**
 * Heading
 * Calculated from type scales http://type-scale.com/
 */

$heading-font-family    : $font-family;

$typescale: (
    min                 : 1.128,
    max                 : 1.25
);


/**
 * Spacing (Block and space utilities)
 */

$spacing: (
    none                : 0,
    base                : 1rem,
    xxs                 : .6rem,
    xs                  : 1rem,
    sm                  : 1.4rem,
    lg                  : 2rem,
    xl                  : 3rem,
    px-sm               : 10px,
    px-lg               : 20px
);

/**
 * Grid Gutter
 */

$gutters: (
    base                : 1em,
    sm                  : 0.5em,
    lg                  : 2%
);