{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">Stylish</h1>

  <h2>Built with</h2>
  <p>This site is built with <a href="https://github.com/vigetlabs/blendid">Blendid</a> static site generator and deployed to <a href="https://www.netlify.com/">Netlify</a> with a <a href="https://www.netlify.com/docs/webhooks/">build hook</a> after each push to its <a href="https://github.com/gazjoy/garethjoyce.co.uk">GitHub repository</a>.</p>
<pre class="code code-block">
https://github.com/gazjoy/garethjoyce.co.uk.git
</pre>

	<h2>Fonts</h2>

	<h2>Colours</h2>

	<hr>

	<h2>Typography</h2>

	<h2>Symbols</h2>

	<hr>

	<h2>Images</h2>

	<h2>SVGs</h2>

	<h2>Icons</h2>

	<hr>

	<h2>Tables</h2>
	
{% endblock %}
