{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">Stylish</h1>

  <h2>Built with</h2>
  <p>This site is built with <a href="https://github.com/vigetlabs/blendid">Blendid</a> static site generator and deployed to <a href="https://www.netlify.com/">Netlify</a> with a <a href="https://www.netlify.com/docs/webhooks/">build hook</a> after each push to its <a href="https://github.com/gazjoy/garethjoyce.co.uk">GitHub repository</a>.</p>
<pre class="code code-block">
https://github.com/gazjoy/garethjoyce.co.uk.git
</pre>

	<h2>Font</h2>
	<p><a href="https://fonts.google.com/specimen/Lato">Lato</a> by Łukasz Dziedzic for Google Fonts</p>

	<h2>Colours</h2>
	<ul class="u-list-inline">
		<li class="bg-pale-pink-colour">Pale pink #f5e2eb</li>
		<li class="bg-pink-colour">Pink #d53880</li>
		<li class="bg-dark-pink-colour">Dark pink #d53880</li>
		<li class="bg-darker-pink-colour">Darkest pink #d53880</li>
		<li class="bg-pale-grey-colour">Pale grey #f7f7f7</li>
		<li class="bg-text-colour">Text #2e343b</li>
		<li class="bg-focus-colour">Focus #ffbf47</li>
	</ul>

	<hr>

	<h2>Typography</h2>
	<p class="h1">Page heading (h1)</p>
	<p class="h2">Page heading (h2)</p>
	<p class="h3">Page heading (h3)</p>
	<p class="h4">Page heading (h4)</p>
	<p class="h5">Page heading (h5)</p>
	<p class="h6">Page heading (h6)</p>

	<h2>Symbols</h2>

	<hr>

	<h2>Images</h2>

	<h2>SVGs</h2>

	<h2>Icons</h2>

	<hr>

	<h2>Tables</h2>
	
{% endblock %}
