{% extends 'layouts/application.html' %}

{% block title %}
What I am reading – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Reading</h1>
  <p>I love to read. I dont read enough but I will always try to read something when I can. Most nights I read to my children which is probably why this list is not longer. I do love some Roald Dahl though.</p>
  <h2>What I am currently reading:</h2>
  <ul>
    <li><a href="https://www.goodreads.com/book/show/35031085-frankenstein">Frankenstein</a> by Mary Shelley – <small><b>50%</b></small> </li>
  	<li><a href="https://www.smashingmagazine.com/printed-books/design-systems/">Design Systems</a> by Alla Kholmatova – <small><b>90%</b></small> </li>
    <li><a href="https://www.smashingmagazine.com/printed-books/form-design-patterns/">Form Design Patterns</a> by Adam Silver – <small><b>80%</b></small></li>
  </ul>
  <h2>Want to read</h2>
  <p>A list of books I want to read because they have piqued my interest or been reccommended to me</p>

  <ul>
    <li><a href="https://www.goodreads.com/book/show/36578942-the-hundred-year-old-man-who-climbed-out-of-the-window-and-disappeared">The 100 Year Old Man Who Climbed Out The Window and Disappeared</a> by Jonas Jonasson</li>
  </ul>
{#
  <h2>Read in 2019</h2>
  <ul>
    <li>🏁 <s><a href="https://www.goodreads.com/book/show/95887.Eat_That_Frog_">Eat That Frog</a> by Brian Tracy</s></li>
  </ul>
#}
  <hr>
  <h2>Completed reads 🏁</h2>

  <h3>2018</h3>
  <ul>
    <li> <s><a href="https://www.goodreads.com/book/show/95887.Eat_That_Frog_">Eat That Frog</a> by Brian Tracy</s></li>
    <li><s><a href="https://www.goodreads.com/book/show/28092883-a-short-history-of-nearly-everything">A Short History of Nearly Everything</a> by Bill Bryson</s></li>
    <li><s><a href="https://www.goodreads.com/book/show/35717346-the-universe-next-door">The Universe Next Door</a> by New Scientist</s></li>
  </ul>

  <h3>2017</h3>
  <ul>
    <li><s><a href="https://www.goodreads.com/book/show/26829668-moriarty">Moriarty</a> by Anthony Horowitz</s></li>
    <li><s><a href="https://www.goodreads.com/book/show/23519028-the-house-of-silk">The House of Silk</a> by Anthony Horowitz</s></li>
  </ul>

  <h3>2014</h3>
  <ul>
    <li><s><a href="https://www.goodreads.com/book/show/17245.Dracula">Dracula</a> by Bram Stoker</s></li>
    <li><s><a href="https://www.goodreads.com/book/show/8909.The_War_of_the_Worlds">War of the Worlds</a> by H.G. Wells</s></li>
  </ul>

  <p><strong>Last updated</strong>: January 2020</p>
{% endblock %}
