<!doctype html>
<html lang="en">
    <head>
        {% include "head.html" %}
        {% block head %}{% endblock %}
    </head>
    
    <body class="{{ bodyClass }}" id="top">
        <a href="#main-content" class="gj-skip-link">Skip to content</a>
        
        <header role="banner" class="gj-header wrapper">
            <div class="wrapper-inner insulate">
                <nav class="gj-header__nav">
                    <ul class="u-list-inline">
                        {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                        {%- endfor %}
                    </ul>
                </nav>
            </div>
        </header>

        <main id="main-content" class="wrapper">
   
            <div class="wrapper-inner">
                <div class="{{ containerClasses | default('') }}">
                    {% if backLink %}
                    <div>
                        <p><a href="javascript:window.history.back()" class="gj-back-link">&larr; Back</a></p>
                    </div>
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </main>

        <footer role="contentinfo" class="gj-footer wrapper">
            <div class="wrapper-inner insulate">
                <ul class="u-list-inline">
                    <!-- <li><a href="/words">Words</a></li>
                    <li><a href="/reading">Reading</a></li>
                    <li><a href="/running">Running</a></li>
                    <li><a href="/demos">Demos</a></li>
                    <li><a href="/talks">Talking</a></li>
                    <li><a href="/now">Now</a></li> -->
                    <li><a href="/style">Style</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                </ul>
                

                <p>© Gaz Joyce – <a href="https://github.com/gazjoy">GitHub</a> – <a href="https://codepen.io/gazjoy/">CodePen</a></p>

                <div class="container">
                    <small><p><span class="emoji">⚠️ Warning:</span>
                        This website will look broken as I am currently updating it.</p>
                    </small>
                </div>


                <div id="wcb" class="carbonbadge wcb-d"></div>
                <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

                <a href="#top" class="gj-top">Skip to top</a>
                
            </div>
            
            
        </footer>
        {% block bodyEnd %}{% endblock %}


    </body>
</html>