<!doctype html>
<html lang="en">
    <head>
        {% include "head.html" %}
        {% block head %}{% endblock %}
    </head>
    
    <body class="{{ bodyClass }}">
        <header>
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
            {%- endfor %}
            </ul>
        </header>

        <main id="main-content">

        {{ content | safe }}
        </main>

        {% block bodyEnd %}{% endblock %}
    </body>
</html>