{% extends 'layouts/application.html' %}

{% block title %}
Running – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Running</h1>
  <p>I am a running convert.</p>
  <p>After almost 35 years of inactivity, I started running in May 2018 (my wife talked me into it). I went to our <a href="https://www.parkrun.org.uk/cannockchase/">local Parkrun</a> which is a free, weekly, timed <abbr title="5 kilometers">5k</abbr>. <em>It was the best thing I ever did</em>. I got around the course in <tt>30:46</tt>. My current Parkrun personal best is currently <tt>21:58</tt>.</p>
  <h2>Upcoming runs:</h2>
  <ul>
    <li>14th July - <a href="https://www.shenstonefunrun.net/">Shenstone 10k</a> – Distance: 10k</li>
    <li>22nd September – <a href="https://www.freedom-leisure.co.uk/index/stafford-10k/">Stafford 10k</a> – Distance: 10k</li>
  </ul>

  <hr>

  <h2>Running acheivements 🏆</h2>

  <h3>2019</h3>
  <ul>
    <li>7th July – <a href="https://my3.raceresult.com/118359/results?lang=en#0_FDB37D">Walton Wobble: Summer Edition</a> – Distance: 10k – Time: <tt>48:05</tt> (10k PB!)</li>
    <li>22nd June – <a href="https://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=4595672">Parkrun personal best</a>! – Time: <tt>21:42</tt></li>
    <li>1st June – <a href="http://mashrunning.co.uk/events/the%2520chillington%2520hall%2520half%2520marathon.html">Chillington Hall 10k</a> – Distance: 10k – Time: <tt>58:19</tt> (11k)</li>
    <li>25th May – <a href="https://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=4595672">Parkrun personal best</a>! – Time: <tt>21:58</tt></li>
    <li>10th March – <a href="https://ale.niftyentries.com/Results/ALDI-Chester-10K-2019/1186/1">Chester 10k</a> – Distance: 10k – Time: <tt>48:39</tt></li>
  </ul>

  <h3>2018</h3>
  <ul>
    <li>7th October – <a href="https://www.stuweb.co.uk/race/22i/502.html">Tamworth 10k</a> – Distance: 10k – Time: <tt>49:04</tt></li>
    <li>23rd September – <a href="https://www.chiptiming.co.uk/events/stafford-10k-2018/1864/">Stafford 10k</a> – Distance: 10k – Time: <tt>51:31</tt></li>
  </ul>

  <p><strong>Last updated</strong>: July 2019</p>
{% endblock %}
