{% extends 'layouts/application.html' %}

{% block content %}
<article class="gj-article">
	<header class="gj-article__header">
		<h1>On Writing 💩</h1>
		<p>December 2017</p>
	</header>

	<p>I have always struggled with writing. I’m not the most articulate individual you will ever meet and I always give myself a hard time because of it. I try to read big thick books from adventure to science in the hope that some of the authors meticulously planned sentences will rub off on me. I also try and spend some evenings coming up with ideas for articles never quite being able to finish them.</p>

	<blockquote>
		<p>After every nights writing I would read what I had written and I would criticise it, “who would want to read this tut”, I would think to myself, delete my article and go to bed frustrated.</p>
	</blockquote>

	<p>My current approach doesn’t seem to be working so it is time to get real. Even if it is just one article a month or one every 3 months or less I intend to break my self criticism. It is a demon inside my head that I need to exorcise.</p>

	<p>I am a good user interface designer and have also been working as a front end developer for a number of years and these experiences have taught me that I have plenty that I can write about. I have also recently joined Valtech, a full service, fully agile digital engineering team who practice the concept of Minimum Viable Product (MVP) Google it if you need to. This is the approach I hope to take to my own writing, get something published and iterate!</p>

	<p>So it is with hope and determination that I publish this article, hopefully the first of many. It doesn’t matter if I think they are crap. 💩</p>
</article>
{% endblock %}