$white 			: #fff;
$off-white		: #f7f7f7;
$text-color		: #2e343b;
$pink 			: #d53880;
$pale-pink		: #f5e2eb;
$border-size	: 6px;
$border-color	: $pale-pink;
$link-accent	: $pink;

$dark-pink: #981c57;
$darker-pink: #6b103c;