@import "color";
@import "base/typography";

@import "logo";
$border-size: 6px;
$border-color: $pale-pink;

html,
body {
	&::before,
	&::after {
		content: "";
		position: fixed;
		background-color: $border-color;
	}
}
html {
	&::before,
	&::after {
		height: $border-size;
	}
	&::before {
		top: 0;
		left: 0;
		right: 0;
	}
	&::after {
		bottom: 0;
		left: 0;
		right: 0;
	}
}

body {
	margin: 0;
	background-color: $off-white;

	&::before,
	&::after {
		width: $border-size;
	}
	&::before {
		top: 0;
		left: 0;
		bottom: 0;
	}
	&::after {
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.container {
	padding: 7vw;
	max-width: 78ch;
	@media (min-width: 58em) {
		padding: 7vmax;
		padding-right: 30vw;
	}
	@media (min-width: 90em) {
		padding-right: 46vw;
	}
	
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

footer {
	margin-top: 4vmax;
	padding: 1em 0;
	font-size: 80%;
}