@import "base/normalize";

// Constants
@import "const";
// @import "color";

// Helpers
@import "helper/functions";
@import "helper/breakpoint";

// Base
@import "base/frame";
@import "base/heading";
@import "base/horizontal-rule";
@import "base/list";
@import "base/typography";

// Components
@import "component/skip-link";
@import "component/logo";
@import "component/header";
@import "component/footer";
@import "component/article";

// Utility
@import "utility/color";



.container {
	padding: 8vw;
	max-width: 64ch;
	@include breakpoint (screen(xl)) {
		padding-top: 3vmax;
		padding-bottom: 3vmax;
	}
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}


.var {
  // font-family: 'Inter UI', sans-serif;
  font-size: 42px;
}
@supports (font-variation-settings: normal) {
  .var {
    font-family: 'Inter UI var', sans-serif;
  }
}

.hero { font-weight: 900; }
.blurb { font-weight: 690; }

