// Normalize
@import "node_modules/normalize.css/normalize";
// Prism
@import "node_modules/prismjs/themes/prism-tomorrow";

// Constants
@import "const";

// Helpers
@import "helper/functions";
@import "helper/breakpoint";

// Base
@import "base/frame";
@import "base/heading";
@import "base/horizontal-rule";
@import "base/image";
@import "base/list";
@import "base/typography";

// Components
@import "component/skip-link";
@import "component/logo";
@import "component/header";
@import "component/footer";
@import "component/article";

// Utility
@import "utility/color";
@import "utility/image";
@import "utility/separator";



.container {
	padding: 8vw;
	max-width: 64ch;
	@include breakpoint (screen(xl)) {
		padding-top: 3vmax;
		padding-bottom: 3vmax;
	}
}

.gj-back-link {}


.var {
  // font-family: 'Inter UI', sans-serif;
  font-size: 42px;
}
@supports (font-variation-settings: normal) {
  .var {
    font-family: 'Inter UI var', sans-serif;
  }
}

.hero { font-weight: 900; }
.blurb { font-weight: 690; }

// Prism overrides
code[class*="language-"],
pre[class*="language-"] {
	margin-top: 0;
	margin-bottom: 1.6em;
}


.has-grid-article {
	.container {
		padding: 0;
		max-width: none;
		@include breakpoint(screen(md)) {
			display: grid;
		}
	}

	.gj-header {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		align-self: flex-start;
		padding: 8vw 8vw 0 8vw;
		border-bottom: 5px solid color(primary, darker-pink);
		margin-bottom: 0;
		padding-bottom: 2em;

		@include breakpoint(screen(md)) {
			position: relative;
			padding: 1em;
			background-color: color(neutral, white);
			margin: 8vw 0 0 8vw;
			padding: 1em;
		}
	}

	main {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.gj-footer {
		padding-left: 8vw;
	}
}