@import "base/normalize";

// Constants
@import "const";
// @import "color";

// Helpers
@import "helper/functions";
@import "helper/breakpoint";

// Base
@import "base/heading";
@import "base/horizontal-rule";
@import "base/list";
@import "base/typography";

// Utility
@import "utility/color";


.grid {
	display: grid;
}
.two-up {
	display: grid;
}
.two-up {
	grid-template-columns: repeat(2, 1fr);
}
.tile {
	padding: 2em;
	text-align: center;
	background-color: gainsboro; 
}