{% extends 'layouts/application.html' %}

{% block title %}
Talking – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Talking</h1>
  <p>I am not a natural talker, so when I do, I am going to celebrate it here.</p>

  <h2>Talks</h2>

  <h3>2019</h3>
  <ul>
    <li>20th February – <a href="get-going-with-grid.html" target="_blank">Get going with grid</a> – <a href="https://www.meetup.com/staffswebmeetup/events/258184188/">Staffs Web Meetup</a></li>
  </ul>

  <p><strong>Last updated</strong>: January 2020</p>
{% endblock %}
