img {
	display: block;
    max-width: 100%;
    height: auto;
}

figure {
	// @extend .u-separator-bottom;
	padding-bottom: spacing(lg);
	margin: 0;
    margin-bottom: spacing(lg);
	text-align: center;
	font-size: 0.8em;
	img {
		display: inline;
		margin-bottom: 1em;
	}
}