[class*=u-list-] {
	padding-left: 0;
	list-style: none;
}

.u-list-inline {
	list-style: none;
	> * {
		display: inline-block;
    	margin-right: 1em;
    	margin-bottom: 0;
	}
}

.u-list-unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}