$text-color: #2e343b;

html,
input {
	line-height: 1.618;
}

html {
	line-height: 1.618;
	font-size: 110%;
	@media (min-width: 90em) {
		font-size: 120%;
	}
}

body {
  color: $text-color;
  font-family: 'Lato', sans-serif;
}

::selection {
    background-color: #d53880;
    color: white;
}


h1, h2, h3 {
	font-weight: 900;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: .618em;
    line-height: 1.3;
    margin-top: 1.33em
}


[class*=u-list-] {
	padding-left: 0;
	list-style: none;
}
.u-list-inline {
	list-style: none;
	> * {
		display: inline-block;
    	margin-right: 1em;
    	margin-bottom: 0;
	}
}

a {
	color: #d53880;
	&:hover {
		color: white;
    	background-color: #d53880;
    	outline: 3px solid #d53880;
    	text-decoration: none;
	}
	&:focus {
		outline: 3px solid #ffbf47;
		text-decoration: none;
	}
	&:active {
		background-color: #d53880;
    	outline: 3px solid #d53880;
    	color: white;
	}
}


.lead {
	font-size: 1.2em;
}

dfn {
	&:hover {
		cursor: pointer;
	}
}