@import url('./reset.css');

@import url('./modules/typography.css');
@import url('./modules/grid.css');
@import url('./modules/utilities.css');

@import url('./modules/header.css');
@import url('./modules/footer.css');

@import url('./modules/timeline.css');
@import url('./modules/listing.css');

/* Base setup */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  width: 100%;
  border: 0;
  height: var(--thin);
  margin: var(--space-4) 0;
}

/* Theme */
:root {

    /* palette */
    --dark: #1a2b38;
    --deep: #1b365d;
    --light: #ffc845;
    --slate: #376e6f;
    --dull: #1c3334;

    color-scheme: light;
    --theme-bg: #fafafa;
    --theme-on-bg: var(--dark);
    --theme-offset-bg: #bebebe;
    --focus-color: #ffc845;
    --focus-text-color: var(--dark);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --theme-bg: var(--deep);
      --theme-on-bg: #fafafa;
      --theme-offset-bg: #7a7a7a;
    }
  }
  
  [color-scheme="light"] {
    color-scheme: light;
    --theme-bg: #fafafa;
    --theme-on-bg: #000000;
    --theme-offset-bg: #bebebe;
  }
  
  [color-scheme="dark"] {
    color-scheme: dark;
    --theme-bg: #000000;
    --theme-on-bg: #fafafa;
    --theme-offset-bg: #7a7a7a;
  }
  
  /* Important! Be sure to use the variables on your body tag */
  html {
    background-color: var(--theme-on-bg);
  }

  body {
    background-color: var(--theme-bg);
    color: var(--theme-on-bg);
    font-family: monaco,Consolas,Lucida Console,monospace; 
  }


  :root {
    --thick: 10px;
    --thin: 4px;
  }

  html,
  body {
    &::before,
    &::after {
      content: "";
      position: fixed;
      z-index: 10;
      background-color: var(--dark);
      display: none;
    }
  }
  html {
    &::before,
    &::after {
      height: var(--thick);
    }
    &::before {
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--light);
      display: block;
    }
    &::after {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  body {
  
    &::before,
    &::after {
      width: var(--frame-size);
    }
    &::before {
      top: 0;
      left: 0;
      bottom: 0;
    }
    &::after {
      top: 0;
      bottom: 0;
      right: 0;
    }
  }


h1 {
    color: var(--light);
}

a {
  color: var(--light);
}
hr {
  background-color: var(--dark);
}

.swatch {
  width: 3em;
  height: 3em;
  border: 1px solid white;
}
.bg-dark {
  background-color: var(--dark);
}
.bg-deep {
  background-color: var(--deep);
}
.bg-light {
  background-color: var(--light);
}
.bg-dull {
  background-color: var(--dull);
}
.bg-slate {
  background-color: var(--slate);
}

html:before,
html:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(var(--step-5) + 1rem);
  right: 4rem;
  left: auto;
  bottom: auto;
  background-color: var(--light);
  border-radius: 10px;
}
html:after {

}
html:before {
  right: 6rem;
  width: 88px;
}

.gj-cta::after {
  content: " →";
}




.gj-profile {
  margin-bottom: 1rem;
}

@media (min-width: 35em) {
  .gj-profile {
      width: 25%;
      max-width: 300px;
      float: right;
      margin-left: 2rem;
  }
}