{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <a href="#main-content" class="gj-skip-link">Skip to content</a>
    <div class="container">
      <header role="banner" class="gj-header">
        {% include "shared/logo.html" %}
        <nav class="gj-header__nav">
          <ul class="u-list-inline">
            <li><a href="/about">About</a></li>
            <li><a href="/diary">Diary</a></li>
            <li><a href="/style">Style</a></li>
          </ul>
        </nav>
      </header>
      <main role="main" id="main-content">
        {% block content %}{% endblock %}
      </main>
      <footer role="contentinfo" class="gj-footer">
        <p>© Gaz Joyce – <a href="mailto:post@garethjoyce.co.uk">post@garethjoyce.co.uk</a> – <a href="https://www.twitter.com/gazjoy">@gazjoy</a></p>
      </footer>
    </div>
    {% block javascript %}
      <script src="/javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
