{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/inter-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <main role="main" id="main-content">
        {% block content %}{% endblock %}
      </main>
      <footer role="contentinfo" class="gj-footer">
        <p>© Gaz Joyce – <a href='mail&#116;&#111;&#58;%&#55;0&#111;&#115;t&#64;ga&#114;e&#116;h%6Aoy&#37;63e&#46;&#37;&#54;3o&#46;%75k'>&#112;o&#115;t&#64;ga&#114;et&#104;joyc&#101;&#46;c&#111;&#46;u&#107;</a> – <a href="https://www.twitter.com/gazjoy">@gazjoy</a></p>
      </footer>
    </div>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
