---
layout: layouts/base.html
title: "My name is Gaz and I am a digital designer based in Stafford, UK."
bodyClass: llstylish
---

<h1>{{ title }}</h1>

<img alt="" src="/img/gaz.jpeg" width="200" />

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.html" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
