---
layout: layouts/base.html
title: "I'm Gaz. I design digital products for people."
bodyClass: llstylish
eleventyNavigation:
  key: Home
  order: 1
containerClasses: container
date: git Last Modified
---

<h1>I'm Gaz. I design digital products with meaning</h1>

<div class="wrap prose additive-spacing">
<p>I'm a lead design consultant at Valtech UK. I have 18 years of experience in the digital design industry.</p>
<p>I enjoy solving complex problems as part of a team and use evidence to drive certainty into assumptions.</p>
<p>I focus on delivering inclusive digital services to the public.</p>
<p><a href="about" class="gj-cta">More about me</a></p>
</div>

<!-- 
{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}</h2>
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.html" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> -->
