{% extends 'layouts/shell.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/stylesheets/grid1.css">
{% endblock %}

{% block title %}
CSS Grid 1 – Gaz Joyce
{% endblock %}

{% block content %}
<section class="article">
	<figure class="article__image-container">
		<img alt="Image of a building divided into a grid" src="/images/screens/rawpixel-539830-unsplash.jpg" class="article__image u-img-responsive" />
	</figure>
	<div class="article__header">
		<time class="article__meta">December 2018</time>
		<a class="article__credit" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@rawpixel?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from rawpixel">
			<span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">rawpixel</span>
		</a>
		<h1 class="article__title">Getting griddy with it</h1>
	</div>
	<div class="article__content">
		<p>So after a few failed attempts I recently decided to revisit CSS Grid. I find it difficult to learn anything without having a practical
			use cases to get my head into. In order to have a practical use case I need to be working on a project which has the flexibility to experiment with some of the modern CSS properties. I just haven't had that recently being assigned to a Government project which has
		constraints around branding and styling.</p>
		<p>To mitigate this, I decided to experiment with my own website. So that is what you are seeing here. An article within an
		experiment, how very meta.</p>

		<p class="lead">Fin 🏁</p>
	</div>
</section>
{% endblock %}
