{% extends 'layouts/application.html' %}

{% block title %}
Privacy – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Your privacy</h1>
  <p class="lead">I don't track you.</p>
  <p>I don't have any analytics, I don't use adverts, I don't have a "hit counter". I make no money through this website, I am not a business. If you find something on my website helpful, it would be great if you could <a href="https://www.twitter.com/gazjoy">tell me</a>.</p>
  <hr>
  <p><strong>Last updated</strong>: January 2019</p>
{% endblock %}
