
/*
Footer & top link
*/
.gj-footer {
    font-size: 80%;
    /* border-top: 2px solid green; */
  }
  .gj-top {
    margin-top: var(--space-4);
  }
  
  .gj-top::before {
    content: "↑ ";
  }

  .gj-footer small span {
    color: var(--light);
  }