
/*
Footer & top link
*/
.gj-footer {
    font-size: 80%;
    margin-top: var(--space-5);
    /* background-color: var(--dark); */
    /* border-top: 20px solid var(--dark); */
  }
  .gj-top {
    margin-top: var(--space-4);
  }
  
  .gj-top::before {
    content: "↑ ";
  }

  .gj-footer small span {
    color: var(--light);
  }

  .gj-footer #wcb.carbonbadge {
    text-align: left;
  }