/* Utilities */
[class*=u-list-] {
    padding-left: 0;
    list-style: none;
  }
  
  .u-list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .u-list-inline > * {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0;
  }
  
  .u-separator {
    border: var(--thick) solid var(--dark);
  }