{% extends 'layouts/application.html' %}

{% block title %}
Words – Gaz Joyce
{% endblock %}

{% block content %}
  <h1>Words</h1>

  <p class="lead">Words make up <a href="https://ia.net/topics/the-web-is-all-about-typography-period">95%</a> of the entire internet. These words are mine.</p>

	<ul class="list-block">

		<li>			
			<a href="2018/getting-griddy-with-it.html">
				<h2 class="list-block__item-title">Getting griddy with it</h2>
				<span>31 December 2018</span>
			</a>	
		</li>

		<li>
			<a href="2018/recording-audio-quicktime-mac.html">
				<h2 class="list-block__item-title">Screen recording with audio on Mac</h2>
				<span>31 December 2018</span>
			</a>
		</li>

		<li>
			<a href="2018/whats-in-a-name.html">
				<h2 class="list-block__item-title">Whats in a name?</h2>
				<span>09 December 2018</span>
			</a>
		</li>

		<li>
			<a href="2018/neat-sass-breakpoint-trick.html">
				<h2 class="list-block__item-title">Nice sass breakpoint trick&nbsp;</h2>
				<span>27 January 2018</span>
			</a>
		</li>

		<li>
			<a href="2017/my-introduction-to-heroku.html">
				<h2 class="list-block__item-title">My introduction to Heroku</h2>
				<span>08 December 2017</span>
			</a>
		</li>

		<li>
			<a href="2017/on-writing-shit.html">
				<h2 class="list-block__item-title">On Writing 💩</h2>
				<span>06 December 2017</span>
			</a>
		</li>

	</ul>

{% endblock %}
