{% extends 'layouts/application.html' %}

{% block content %}
  <h1>Words</h1>

  <p class="lead">Words make up <a href="https://ia.net/topics/the-web-is-all-about-typography-period">95%</a> of the entire internet. These words are mine. I hope you enjoy.</p>

	<ul class="u-list-post u-list-unstyled">
		<li>
			<h2>
				<a href="2018/whats-in-a-name.html">Whats in a name?</a>
			</h2>
			<span>December 2018</span>
		</li>

		<li>
			<h2>
				<a href="2018/neat-sass-breakpoint-trick.html">Neat sass breakpoint trick</a>
			</h2>
			<span>January 2018</span>
		</li>

		<li>
			<h2>
				<a href="2017/my-introduction-to-heroku.html">My introduction to Heroku</a>
			</h2>
			<span>December 2017</span>
		</li>

		<li>
			<h2>
				<a href="2017/on-writing-shit.html">On Writing 💩</a>
			</h2>
			<span>December 2017</span>
		</li>

	</ul>

{% endblock %}
